<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ignis</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet">
</head>
<body>
<div class="grid justify-center bg-white py-24 mx-auto max-w-7xl px-6">
    <div class="max-w-2xl text-center"><a href="https://github.com/ZyranDev/"
                                          class="text-base font-semibold leading-7 text-indigo-600">@ZyranDev</a>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900">Go Repository</p>
        <p class="mt-6 text-lg leading-8 text-gray-600 mb-10">Ignis is an open-source Go repository that has been
            designed to facilitate dependency resolution in Go.</p>{{if .Repositories}}
        <table class="border-collapse w-full">
            <thead>
            <tr>
                <th class="border border-gray-300 px-4 py-2">Name</th>
                <th class="border border-gray-300 px-4 py-2">Source</th>
            </tr>
            </thead>
            <tbody>{{range .Repositories}}
            <tr>
                <td class="border border-gray-300 px-4 py-2">
                    <button onclick='navigator.clipboard.writeText("go get -u {{GetHost .}}/{{ToLower .Name}}")'
                            data-tooltip-target="tooltip-dark" type="button"
                            class="font-medium rounded-lg text-sm px-5 py-2.5 text-center">{{GetHost .}}/{{ToLower
                        .Name}}
                    </button>
                    <div id="tooltip-dark" role="tooltip"
                         class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Click to copy installation command
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </td>
                <td class="border border-gray-300 px-4 py-2"><a href="{{.RepoURL}}"
                                                                class="text-blue-500 hover:text-blue-700">{{.RepoURL}}</a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
        {{else}}<p class="text-2xl">Nothing to see here</p>{{end}}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</body>
</html>